* {
  position: absolute;
  margin: 0;
  padding: 0;
}

body{
  background: black;
}

#gesture-layer {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landscape-download {
  width: 45vmax;
  height: 25vmin;
  margin-left: 25vmax;
  margin-top: 75vmin;
  z-index: 0;
}

.download-img {
  width: 100%;
  height: auto;
  animation: scale-animal 2s;
  animation-iteration-count: infinite;
}

.landscape-close {
  width: 14vmin;
  height: 14vmin;
  margin: 2vmin;
}

.match-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.portrait-download {
  width: 90vmin;
  height: 40vmin;
  bottom: 0;
  margin-left: 8vmin;
}

.portrait-close {
  width: 14vmin;
  height: 14vmin;
  top: 3vmin;
  right: 2vmin;
}

div#portrait-ad[class='portrait'] {
  width: 100vw;
  height: 100vh;
}

div#portrait-ad[class='landscape-left'] {
  width: 100vh;
  height: 100vw;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  margin-left: 100vw;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

div#portrait-ad[class='landscape-right'] {
  width: 100vh;
  height: 100vw;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  margin-top: 100vh;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

div#portrait-ad[class='upside-down'] {
  width: 100vw;
  height: 100vh;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

div#landscape-ad[class='portrait'] {
  width: 100vh;
  height: 100vw;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  margin-left: 100vw;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

div#landscape-ad[class='landscape-left'] {
  width: 100vw;
  height: 100vh;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

div#landscape-ad[class='landscape-right'] {
  width: 100vw;
  height: 100vh;
}

div#landscape-ad[class='upside-down'] {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@keyframes scale-animal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes scale-animal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes scale-animal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-o-keyframes scale-animal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}