.mobile-frame-portrait {
    position: absolute;
    width: 47vh;
    height: 84vh;
    margin-left: calc(50vw - 23.5vh);
    border: 2px solid;
    border-radius: 10px;
    margin-top: 3vh;
    background: white;
}

.mobile-frame-landscape {
    position: absolute;
    width: 84vh;
    height: 47vh;
    margin-left: calc(50vw - 42vh);
    border: 2px solid;
    border-radius: 10px;
    margin-top: 20vh;
    background: white;
}


/* 16 : 9 的屏幕 potrait*/
.mobile-screen-portrait-16-9 {
    position: absolute;
    width: 45vh;
    height: 80vh;
    margin: 1vh 3vh 1vh 1vh;
    background: black;
}

/* 16 : 9 的屏幕 landscape*/
.mobile-screen-landscape-16-9 {
    position: absolute;
    width: 80vh;
    height: 45vh;
    margin: 1vh 1vh;
    background: black;
}